$c-white: #efefef;
$c-true-white: #fff;
$c-black: #353535;
$main-color: #ef596b;
$second-color: #e18855;

// Tons de cinza
$c-gray10: #e6e6e6;
$c-gray20: #cccccc;
$c-gray30: #b3b3b3;
$c-gray40: #999999;
$c-gray50: #808080;
$c-gray60: #666666;
$c-gray70: #4d4d4d;
$c-gray80: #333333;
$c-gray90: #1a1a1a;

