.v-btn {
    &.qrc-btn {
        border-radius: 0 15px;
        text-transform: initial;
        &.primary {
            background: $main-color !important;
            border-color: $main-color !important;
        }
        &.secondary {
            background: $second-color !important;
            border-color: $second-color !important;
        }
        &.white {
            background: $c-white !important;
            border-color: $c-white !important;
            color: $main-color !important;
        }
        &.tile {
            border-radius: 0;
        }
    }
}

.v-item-group {
    background: linear-gradient(120deg, #eb4476, #e18855);
    font-size: 2em;
    position: sticky;
    bottom: 0;
}

.v-btn__content {
    color: rgb(238, 236, 236);
}